@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

:root {
  --main--color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: .1rem solid rgba(166, 35, 35, 0.3);
}

* {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}


html::-webkit-scrollbar {
  background: transparent;
}

html::-webkit-scrollbar--thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: #ffffff;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: var(--border);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.socials-item {
  display: flex;
}

.socials-item .title {
  margin-top: 1px;
  margin-left: 3rem;
  color: gray;
  font-size: 1.1rem;
}


.social {
  display: flex;
  margin-left: 0.5rem;
}

.socials_item {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 0 0 1rem;
}

.socials__link:after {
  content: '';
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  left: 0px;
  top: 6.5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #FB5472;
  vertical-align: middle;
  margin: 0.2rem 0 0.4rem 10px;
}

.phone {
  display: flex;
  margin-right: 1.6rem;
}

.phone .footer-title {
  font-size: 1.1rem;
  margin-right: 2rem;

}

.phone .footer-numberphone {
  font-size: 1.5rem;
  color: #1b2b7c;
}

.header {
  /* background: var(--bg); */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  margin-left: -5rem;
  height: 7rem;
}

.header .navbar {
  margin-right: -370px;
}

.header .navbar a {
  margin: 0 2rem;
  font-size: 1.4rem;
  color: gray;
}

.choose::before {
  content: '';
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: 50%;
  top: 1rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #FB5472;
  margin: 0.2rem 0 0.4rem 10px;
}

.header .navbar a:hover {
  color: #fe8b98;
  padding-bottom: .5rem;
}

.header .button button {
  width: 100px;
  margin-right: -70px;
  font-size: 1.5rem;
  padding: 1rem 7%;
  background: #1b2b7c;
  color: #fff;
  border-radius: 45px;
  cursor: pointer;
}

.header .button button:hover {
  font-weight: bold;
  background-color: #fe8b98;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(img/main.jpg) no-repeat;
  background-size: cover;
}

.home .content {
  max-width: 60rem;
}

.besure {
  margin-left: 6.5rem;
  font-size: 1.2rem;
  color: #fe8b98;
}

.home .content span:before {
  content: '';
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: 4rem;
  top: 16.5rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #FB5472;
  margin: 0.2rem 0 0.4rem 10px;
}

.home .content h3 {
  margin-left: 5rem;
  width: 50rem;
  font-size: 6rem;
  color: #1b2b7c;
}

.home .content p {
  margin-left: 5rem;
  font-size: 1.7rem;
  font-weight: lighter;
  color: gray;
  line-height: 2;
  padding: 1rem;
}

.learnmore {
  margin-left: 5rem;
  width: 100px;
  font-size: 1.4rem;
  padding: 1.6rem 5%;
  background: #fe8b98;
  color: #fff;
  border-radius: 45px;
  cursor: pointer;
  font-weight: bold;
}

.section-services-main {
  margin-top: -10.1rem;
}

.wrapper {
  min-width: 320px;
  max-width: 1220px;
  padding-right: 4rem;
  padding-left: 4rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.services {
  margin: 0 -1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__item {
  padding: 5.2rem 2.3rem 4.3rem;
  text-align: center;
  margin: 0 1.5rem 3rem;
  width: calc(25% - 3rem);
  background: #fff;
  -webkit-box-shadow: 0px 1rem 2.6rem rgb(36 73 168 / 15%);
  box-shadow: 0px 1rem 2.6rem rgb(36 73 168 / 15%);
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.services__item:hover {
  box-shadow: 0 10px 10px 10px rgb(237, 179, 179);
}


.services__decor {
  width: 80.15%;
  border: 5rem solid rgba(219, 223, 243, 0.3);
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -46%);
  -ms-transform: translate(-50%, -46%);
  transform: translate(-50%, -46%);
  z-index: 0;
}

.services__icon {
  height: 7rem;
  position: relative;
  z-index: 1;
}

.services__title {
  font-family: Aleo, arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
  margin-top: 3.3rem;
  position: relative;
  z-index: 1;
  text-transform: capitalize;
  color: #1B2B7C;
}

.services__text {
  margin-top: 0.9rem;
  font-size: 1.6rem;
  line-height: 170%;
  position: relative;
  z-index: 1;
  color: #646A89;
}

.section-about {
  margin-top: 15rem;
  position: relative;
  z-index: 1;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__img {
  width: calc(100% - 45.5rem);
  padding-right: 4.5rem;
  padding-left: 2%;
}

img {
  max-width: 100%;
}

.about__content {
  width: 45.5rem;
  padding-bottom: 0.5rem;
}

.section-heading {
  padding: 0 0 1.4rem 0;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FB5472;
}

.section-heading span {
  padding-left: 1.8rem;
  position: relative;
}

.section-heading span:before {
  content: '';
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  left: 0;
  top: 0.45rem;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #FB5472;
}

.h2 {
  font-size: 2.4rem;
  line-height: 140%;
  line-height: 100%;
  margin: 0 0 0.7rem;
  padding-top: 1.3rem;
  text-align: left;
  color: #1B2B7C;
  font-family: Aleo, arial, sans-serif;
  text-transform: capitalize;
}

.section-subtitle {
  font-size: 2.2rem;
  line-height: 150%;
}

.content-block__text {
  font-size: 1.6rem;
  line-height: 170%;
}


.play-video {
  margin-top: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

 .play-icon {
  color: #fff;
  padding: 0 0 0 0.5rem;
  width: 6.6rem;
  height: 6.6rem;
  font-size: 2.6rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-shadow: 0px 1.5rem 2.5rem rgb(230 51 94 / 25%);
  box-shadow: 0px 1.5rem 2.5rem rgb(230 51 94 / 25%);
}

.play-icon:before {
  content: '';
  display: block;
  width: 136.36%;
  height: 136.36%;
  background: -webkit-linear-gradient(186.56deg, rgba(226, 94, 102, 0.991703) 0%, rgba(230, 51, 94, 0.991703) 100%);
  background: -o-linear-gradient(186.56deg, rgba(226, 94, 102, 0.991703) 0%, rgba(230, 51, 94, 0.991703) 100%);
  background: linear-gradient(263.44deg, rgba(226, 94, 102, 0.991703) 0%, rgba(230, 51, 94, 0.991703) 100%);
  opacity: 0.15;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.play-icon i {
    position: relative;
    z-index: 2;
}

.play-icon:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(186.56deg, rgba(255, 154, 160, 0.991703) 0%, rgba(249, 73, 115, 0.991703) 100%);
  background: -o-linear-gradient(186.56deg, rgba(255, 154, 160, 0.991703) 0%, rgba(249, 73, 115, 0.991703) 100%);
  background: linear-gradient(263.44deg, rgba(255, 154, 160, 0.991703) 0%, rgba(249, 73, 115, 0.991703) 100%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 

.play-video__text {
  padding-left: 2.3rem;
}

.play-video__title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  color: #FB5472;
}

.play-video__link {
  font-size: 1.6rem;
  line-height: 170%;
  color: #646A89;
}

.about-details {
  margin: 8.6rem -1.5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.about-details__item {
  text-align: center;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
  width: 25%;
  min-height: 15rem;
  position: relative;
  cursor: pointer;
}

.about-details__val {
  font-size: 5.4rem;
  line-height: 110%;
  font-weight: 700;
  position: relative;
  z-index: 1;
  color: #1B2B7C;
}

.about-details__val_plus {
  color: #FB5472;
  font-size: 3rem;
  display: inline-block;
  vertical-align: top;
  margin: -1px 0 0 0.6rem;
}

.about-details__text {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.about-details__decor {
  width: 15rem;
  height: 15rem;
  border: 4rem solid rgba(219, 223, 243, 0.3);
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 31%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}